<div class="chat-card shadow-lg">
  <app-chat-header> Principal </app-chat-header>
  <!-- search component -->
  <app-chat-search></app-chat-search>
  <!-- active asesor -->
  <span class="subtitle"> Asesores activos </span>
  <!--avatar list -->
  <app-chat-lists-avatar>
    <app-chat-avatar></app-chat-avatar>
    <app-chat-avatar></app-chat-avatar>
    <app-chat-avatar></app-chat-avatar>
  </app-chat-lists-avatar>

  <span class="subtitle"> Conversaciones recientes </span>
  <!-- lists chats container -->

  <app-chat-list-messages>
    <!--  list chat item -->
    <app-chat-list-message-item> </app-chat-list-message-item>
    <app-chat-list-message-item> </app-chat-list-message-item>
  </app-chat-list-messages>
</div>
