@import "src/sass/mixins";
@import "src/sass/variables";
@import "src/sass/functions";

@mixin body-comment {
  &__body {
    .username {
      font-size: 1.3em;
      color: $black-color;
      font-weight: 600;
      padding: 10px 0;
      &:hover {
        text-decoration: underline;
      }
    }
    // content
    .content {
      font-size: 1.1em;
      padding: 7px 0;
      line-height: 1.45em;
      margin: 0;
    }
    // actions  comment
    .action_comment {
      margin: 0;
      span,
      a {
        font-size: 0.9em;
        font-weight: 400;
        opacity: 0.95;
      }
    }
  }
}

@mixin avatar-comment {
  &__avatar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

@mixin action-comment() {
  &__action {
    display: flex;
    justify-content: center;
    .like {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      @include createCircle(50px, 0);
      b {
        padding: 5px;
      }
      i {
        font-size: 25px;
      }
      @include hover();
    }
  }
}

@mixin comment {
  .comment {
    margin: 10px 0;
    display: grid;
    grid-template-columns:
      percent(10, $width-size-comment) percent(80, $width-size-comment)
      percent(10, $width-size-comment);
    &.reply {
      grid-template-columns:
        percent(10, $width-size-reply) percent(80, $width-size-reply)
        percent(10, $width-size-reply);
    }
    // avatar
    @include avatar-comment();
    // body
    @include body-comment();
    // action in comment
    @include action-comment();
  }
  .btn_show_replies {
    font-size: 0.8rem;
    margin-left: 50px;
  }
}

.comments {
  font-size: 16px;
  &__box {
    width: 100%;
    @include comment();
    &.replies {
      margin-top: 25px;
      margin-left: 35px;
    }
  }
}
