@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
/***************************externs*************************************/
@import "~bootstrap-utilities";
/***************************externs*************************************/

/***************************pages*************************************/
@import "variables.scss";
@import "auth/auth";
/***************************pages*************************************/
/***************************inputs*************************************/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-sans;
  font-size: 18px;
}

/*my tittles*/

.title {
  font-family: $font-sans;
  font-size: 1.5rem;
  font-weight: 700;
}

// customize inputs
.control_le {
  label {
    font-family: $font-sans;
    font-size: 0.85rem;
    margin-left: 5px;
    font-weight: 700;
  }
  input {
    @extend .input_le;
  }
}
.input_le {
  border: 1.5px solid $input-color-border;
  border-radius: 10px;
  padding: 10px 10px;
}

/* aplicated for ng design : override  default style for buttons*/
.button_le {
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
