:host {
  display: block;
}
.viewcardevent {
  width: 300px;
  margin: 10px 10px;
  cursor: pointer;
  text-align: left;
  h3 {
    text-transform: capitalize;
  }
}

.masonry {
  text-align: center;
  width: 1000px;
}
