:host {
  display: block;
}
.viewcardevent {
  width: 300px;
  margin: 10px 10px;
  cursor: pointer;
  text-align: left;
  h3 {
    text-transform: capitalize;
  }
}

.masonry {
  text-align: center;
  width: 1000px;
}
.row_galery {
  .swiper-slide {
    // background-color: red;
    margin: 10px 10px;
    overflow: hidden;
  }
}
app-card {
  overflow: hidden !important;
}
