<div class="contain">
  <ngx-masonry [options]="options" class="masonry">
    <mat-card ngxMasonryItem class="viewcardevent" *ngFor="let item of items">
      <img mat-card-image [src]="item.eventCover" alt="" />
      <mat-card-content>
        <h3>
          {{ item.name }}
        </h3>
        <p>
          {{ item.description | shortParagraph }}
        </p>
      </mat-card-content>
      <mat-card-footer>
        <button
          nz-button
          (click)="redirectEvent(item.id)"
          class="m-3"
          nzType="primary"
        >
          registrarse
        </button>
      </mat-card-footer>
    </mat-card>
  </ngx-masonry>
</div>
