$secondary-color: #4849ff;

// scroll
$default-size-scroll: 5px;

// chat variabels
$chat-color-container: #ffffff;
$base-size-font: 16px;
$base-color-chat: $secondary-color;
$white-color: #ffffff;
$icon-color-chat: $white-color;
$button-color-chat: $base-color-chat;
$size-icon-chat: 28px;
// search button
$color-search: $button-color-chat;
$padding-container-chat: 15px;
$width-avatar: 60px;
$chat-card-avatar-margin: 10px 20px 35px 15px;

// item chat

$margin-item-chat: 10px 0;
