.singleEvent {
  display: flex;
}
.container {
  width: 60%;
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__image {
    width: 90%;
    object-fit: cover;
    object-position: center center;
  }
}
.description {
  width: 100%;
}

.information {
  padding: 15px 0;
  width: 100%;
  .box {
    width: 100%;
    .item {
      margin: 0 15px;
      float: left;
      font-size: 1.2rem;
      th::after {
        content: ":";
        padding-right: 10px;
      }
    }
  }
}

.sesions {
  width: 80% !important;
}
.sesion {
  margin: 10px 15px;
  min-width: 400px;
}
