@import "src/sass/responsive";

.table_profile {
  width: 500px;
  th {
    font-size: 1rem;
    min-width: 250px;
    position: relative;
    text-transform: capitalize;
    &:after {
      right: 50px;
      position: absolute;
      content: ":";
    }
  }

  tr {
    margin: 0.5rem 0;
    padding-top: 0.5rem;
    display: block;
  }
}

.input_for_Edit {
  border: 1px solid lighten($color: black, $amount: 85);
  border-radius: 10px;
  outline: none;
  padding: 0.2rem 1rem;
  &::placeholder {
    opacity: 0.5;
  }
}

/***************************alterns*************************************/
// alter upload ng angular
:host ::ng-deep .avatar-uploader > .ant-upload {
  width: 100%;
  overflow: hidden;
  height: 300px;
  cursor: pointer;
}
.upload_placeholder {
  display: flex;
  flex-direction: column;
  i {
    font-size: 50px;
    padding: 1rem;
  }
}
/***************************alterns*************************************/
