<div fxLayout="row" class="profile_page" fxFlexAlign="center center">
  <div fxFlex="40%" class="d-flex justify-content-center">
    <nz-upload
      class="avatar-uploader"
      nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
      nzName="avatar"
      nzListType="picture-card"
      [nzShowUploadList]="false"
      (nzChange)="handleChange($event)"
    >
      <ng-container *ngIf="!auxProfileImage && !user.image">
        <div class="upload_placeholder">
          <i class="far fa-grin"></i>
          <span>Sube una image para que te conozcan</span>
        </div>
      </ng-container>
      <img
        *ngIf="auxProfileImage || user.image"
        [src]="auxProfileImage || user.image"
        style="width: 100%"
      />
    </nz-upload>
    <!-- <img class="w-100" [src]="user.image" alt="" /> -->
  </div>
  <div fxFlex="60%" class="d-flex justify-content-center">
    <nz-card class="d-flex justify-content-center">
      <table class="table_profile">
        <tr>
          <th>nombre</th>
          <td *ngIf="!edit">
            {{ user.name }}
          </td>
          <td *ngIf="edit">
            <input
              type="text"
              [(ngModel)]="user.name"
              class="input_for_Edit"
              value="{{ user.name }}"
            />
          </td>
        </tr>
        <tr>
          <th>Apellido</th>
          <td *ngIf="!edit">
            {{ user.lastName }}
          </td>
          <td *ngIf="edit">
            <input
              [(ngModel)]="user.lastName"
              type="text"
              class="input_for_Edit"
              value="{{ user.lastName }}"
            />
          </td>
        </tr>
        <tr>
          <th>Email</th>

          <td *ngIf="!edit">
            {{ user.email }}
          </td>
          <td *ngIf="edit">
            <input
              [(ngModel)]="user.email"
              type="text"
              class="input_for_Edit"
              value="{{ user.email }}"
            />
          </td>
        </tr>
        <tr>
          <th>codigo</th>
          <td>
            {{ user.code }}
          </td>
        </tr>
        <tr>
          <th>Rango</th>
          <td>
            {{ "colaborador" }}
          </td>
        </tr>
        <tr>
          <th>Nacimiento</th>
          <td>
            {{ user.birth | date: "shortDate" }}
          </td>
        </tr>
      </table>
    </nz-card>
  </div>
</div>
<div fxLayout class="profile_page">
  <div fxFlex="60%" class="">
    <div class="profile_description">
      <h3>Descripción</h3>
      <p [hidden]="true">Escribe una descripción bonita acerca de ti</p>
      <p class="text-left paragraph">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit sed minus
        corporis laboriosam dolorum, vitae culpa suscipit, odio in voluptatibus
        ullam esse aperiam voluptate aliquam quisquam cumque. Exercitationem,
        temporibus illo.
      </p>

      <!-- <textarea class="description.text" name="" id="" cols="30" rows="10"></textarea> -->
    </div>
  </div>
  <div fxFlex="40">
    <h3>Asesor</h3>
    <nz-card [nzCover]="cover">
      <!-- asesor -->
      <div fxLayout="column">
        <h3>{{ user.name }}</h3>
        <button nz-button nzType="primary">contactar</button>
      </div>
    </nz-card>
    <ng-template #cover>
      <img [src]="user.image" alt="" />
    </ng-template>
  </div>
</div>

<div class="profile_page">
  <button
    nz-button
    nzType="primary"
    (click)="editProfile()"
    class="button_le w-25"
  >
    {{ edit ? "guardar" : "editar" }}
  </button>
</div>
