@import "src/sass/responsive";
.profile_page {
  margin: 2rem auto;
  width: 60%;
}
@include desktop {
}

.table_profile {
  th {
    font-size: 1.2rem;
    min-width: 250px;
    position: relative;
    &:after {
      right: 50px;
      position: absolute;
      content: ":";
    }
  }

  tr {
    font-size: 1rem;
  }
  tr {
    margin: 0.5rem 0;
    padding-top: 0.5rem;
    display: block;
  }
}

.profile_description {
  width: 400px;
}
.input_for_Edit {
  border: 1px solid lighten($color: black, $amount: 85);
  border-radius: 10px;
  outline: none;
  padding: 0.5rem 1rem;
  &::placeholder {
    opacity: 0.5;
  }
}

/***************************alterns*************************************/
// alter upload ng angular
:host ::ng-deep .avatar-uploader > .ant-upload {
  width: 100%;
  overflow: hidden;
  // max-height: 80%;
  max-width: 400px;
  height: 400px;
}
.upload_placeholder {
  display: flex;
  //  justify-content:;
  flex-direction: column;
  i {
    font-size: 50px;
    padding: 1rem;
  }
}
/***************************alterns*************************************/
