@import "src/sass/responsive";
@import "src/sass/mixins";

.table_profile {
  width: 500px;
  th {
    font-size: 1rem;
    min-width: 250px;
    position: relative;
    text-transform: capitalize;
    &:after {
      right: 50px;
      position: absolute;
      content: ":";
    }
  }

  tr {
    margin: 0.5rem 0;
    padding-top: 0.5rem;
    display: block;
  }
}

.input_for_Edit {
  border: 1px solid lighten($color: black, $amount: 85);
  border-radius: 10px;
  outline: none;
  padding: 0.2rem 1rem;
  &::placeholder {
    opacity: 0.5;
  }
}

/***************************alterns*************************************/
// alter upload ng angular
:host ::ng-deep .avatar-uploader > .ant-upload {
  overflow: hidden;
  cursor: pointer;
  .ant-upload {
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include createCircle(350px);
    @include centerContent();
    img {
      width: 100%;
      height: 100%;
      object-fit: cover !important;
    }
  }
}
.upload_placeholder {
  display: flex;
  flex-direction: column;
  i {
    font-size: 50px;
    padding: 1rem;
  }
}
.avatar-uploader {
  @include centerContent();
}
/***************************alterns*************************************/
