.singleEvent {
  display: flex;
}
.container {
  width: 60%;
}

.media {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__image {
    width: 60%;
    object-fit: cover;
    object-position: center center;
  }
}

.information {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 10px;
  li {
    tr th:after {
      content: ":";
      margin: 10px;
    }
  }
}

.sesions {
  width: 80% !important;
}
.sesion {
  margin: 10px 15px;
  min-width: 400px;
}
.item_sesion {
  .side_right {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
  }
}
