<article
  class="contain"
  *ngIf="currentEvent?.sesions"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <h1 class="title">{{ currentEvent.name }}</h1>
  <!-- MEDIA PREVIEW -->
  <div class="media">
    <img
      class="media__image"
      *ngIf="!isVideo"
      [src]="currentEvent.eventCover"
      alt=""
    />
    <app-videoplayer
      *ngIf="isVideo"
      [thumbnail]="currentEvent.eventCover"
      [src]="currentEvent.video"
    ></app-videoplayer>
  </div>
  <!-- information -->
  <ul class="information" style="list-style: none">
    <li>
      <tr>
        <th>Sesiones</th>
        <td>{{ currentEvent.sesions.length }}</td>
      </tr>
    </li>
  </ul>

  <!-- content -->
  <section class="content container">
    <h3 class="title">Descripción</h3>
    <div class="cotent_text">
      <p class="paragraph">
        {{ currentEvent.description }}
      </p>
    </div>
    <button
      nz-button
      nzType="primary"
      [disabled]="isRegister"
      (click)="registerEvent()"
    >
      {{ isRegister ? "Registrado" : "Registrarse" }}
    </button>
  </section>
  <!--  sesiones-->
  <section class="contianer_sesions">
    <h2 class="title text-center w-100 my-2 text-uppercase">sesiones</h2>
    <ul
      class="mx-auto sesions"
      style="list-style: none"
      fxLayout="row wrap"
      fxLayoutGap="20px"
      fxLayoutAlign="center  center"
    >
      <li class="sesion" *ngFor="let sesion of currentEvent.sesions">
        <mat-card fxLayout class="item_sesion">
          <div fxFlex="70%">
            <h3 class="subtitle">{{ sesion.nameSesion }}</h3>
            <p class="paragraph">
              {{ sesion.description | shortParagraph }}
            </p>
            <button
              nz-button
              (click)="navigateSesion(sesion.id)"
              nzType="primary"
            >
              ver
            </button>
          </div>
          <div
            class="side_right"
            fxFlex="15%"
            fxLayout
            fxLayoutAlign="end center"
          >
            <span> {{ sesion.startSesion | date }} </span>
          </div>
        </mat-card>
      </li>
    </ul>
  </section>
</article>
