<article
  class="contain"
  *ngIf="currentEvent?.sesions"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <!-- MEDIA PREVIEW -->
  <nz-card nzBorderless>
    <le-title [text]="currentEvent.name" lineAddon leBack> </le-title>
    <div class="media">
      <img
        nz-image
        class="media__image"
        *ngIf="!isVideo"
        [nzSrc]="currentEvent.eventCover | resolveUrl: true"
        alt=""
      />
      <app-videoplayer
        *ngIf="isVideo"
        [thumbnail]="currentEvent.eventCover"
        [src]="currentEvent.video.url"
      ></app-videoplayer>
    </div>
  </nz-card>
  <!-- information -->

  <nz-space class="information">
    <div fxLayout fxLayoutAlign="center center" style="width: 100%">
      <badge-action>
        <!-- sesiones -->
        <bagde-action-item
          (click)="visibleSesions = true"
          [count]="currentEvent.sesions.length"
        >
          <i class="far fa-address-book"></i>
        </bagde-action-item>
        <bagde-action-item [count]="50" (click)="openComments()">
          <i class="fas fa-comments"></i>
        </bagde-action-item>
        <bagde-action-item [count]="20">
          <i
            nz-icon
            nzType="like"
            style="font-size: 28px; margin: 0; padding: 0"
            nzTheme="outline"
          ></i>
        </bagde-action-item>
        <bagde-action-item [count]="20">
          <i
            nz-icon
            style="font-size: 28px; margin: 0; padding: 0"
            nzType="share-alt"
            nzTheme="outline"
          ></i>
        </bagde-action-item>
      </badge-action>
    </div>
  </nz-space>
  <nz-ribbon [nzText]="currentEvent.credits + ' C'" *ngIf="!isRegister">
    <nz-card class="w-100 my-4">
      <p nz-typography>Aún no ha sido registrado a este {{ label }}</p>
      <button
        nz-button
        nzType="primary"
        [disabled]="isRegister"
        (click)="registerEvent()"
      >
        {{ isRegister ? "Registrado" : "Registrarse" }}
      </button>
    </nz-card>
  </nz-ribbon>
  <!-- content -->
  <nz-card class="description">
    <h3 class="title line_addon">Descripción</h3>
    <div class="cotent_text">
      <p class="paragraph" *viewMore="{ sizeCLose: 100, sizeShow: 200 }">
        {{ currentEvent.description }}
      </p>
    </div>
  </nz-card>
</article>

<nz-drawer
  [nzWidth]="700"
  [nzVisible]="visibleSesions"
  (nzOnClose)="visibleSesions = !visibleSesions"
>
  <!--  sesiones-->
  <nz-card class="w-100 my-4">
    <section class="contianer_sesions">
      <le-title
        text="Sesiones:"
        lineAddon
        leBack
        [leCustomBackCallback]="closeSesionDrawer"
      ></le-title>
      <ng-template #notFoundSesions>
        <nz-empty nzNotFoundContent="No se ha gregado sesiones todavía">
        </nz-empty>
      </ng-template>
      <cdk-virtual-scroll-viewport
        itemSize="10"
        *ngIf="currentEvent.sesions.length > 0; else notFoundSesions"
        class="display"
        [ngStyle]="{ height: sizeDisplay }"
      >
        <nz-space-item *cdkVirtualFor="let sesion of currentEvent.sesions">
          <app-item-sesion
            (selectItem)="navigateSesion($event)"
            [sesion]="sesion"
          ></app-item-sesion>
        </nz-space-item>
      </cdk-virtual-scroll-viewport>
    </section>
  </nz-card>
  <!-- comments -->
</nz-drawer>
<nz-drawer
  nzPlacement="bottom"
  (nzOnClose)="visibleDrawerComments = false"
  [nzVisible]="visibleDrawerComments"
  [nzHeight]="'70vh'"
>
  <div fxLayout fxLayoutAlign="center start">
    <ng-container
      *ngIf="
        currentEvent.includeComments && currentEvent?.id_comment;
        else notFoundComments
      "
    >
      <app-comments [idBootrapComment]="currentEvent.id_comment"></app-comments>
    </ng-container>
    <ng-template #notFoundComments>
      <nz-empty nzNotFoundContent="Los comentarios estan desactivados">
      </nz-empty>
    </ng-template>
  </div>
</nz-drawer>
