<article
  class="contain"
  *ngIf="currentEvent?.sesions"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <!-- MEDIA PREVIEW -->
  <nz-card>
    <h1 class="title text-center">{{ currentEvent.name }}</h1>
    <div class="media">
      <img
        class="media__image"
        *ngIf="!isVideo"
        [src]="currentEvent.eventCover"
        alt=""
      />
      <app-videoplayer
        *ngIf="isVideo"
        [thumbnail]="currentEvent.eventCover"
        [src]="currentEvent.video"
      ></app-videoplayer>
    </div>
  </nz-card>
  <!-- information -->

  <nz-space class="information">
    <nz-card style="background: white" class="box">
      <div class="item">
        <th>Sesiones</th>
        <td>{{ currentEvent.sesions.length }}</td>
      </div>
    </nz-card>
  </nz-space>

  <!-- content -->
  <nz-card class="description">
    <h3 class="title">Descripción</h3>
    <div class="cotent_text">
      <p class="paragraph">
        {{ currentEvent.description }}
      </p>
    </div>
    <button
      nz-button
      nzType="primary"
      [disabled]="isRegister"
      (click)="registerEvent()"
    >
      {{ isRegister ? "Registrado" : "Registrarse" }}
    </button>
  </nz-card>

  <!--  sesiones-->
  <nz-card class="w-100 my-4">
    <section class="contianer_sesions">
      <h2 style="margin-bottom: 2rem" class="title text-left w-100">
        Sesiones:
      </h2>
      <nz-space nzDirection="vertical" nzAlign="center" nzSize="large">
        <nz-space-item *ngFor="let sesion of currentEvent.sesions">
          <app-item-sesion
            (selectItem)="navigateSesion($event)"
            [sesion]="sesion"
          ></app-item-sesion>
        </nz-space-item>
      </nz-space>
    </section>
  </nz-card>
</article>
