<article
  class="contain"
  *ngIf="currentSesion?.id"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <!-- MEDIA PREVIEW -->
  <nz-card>
    <h1 class="title line_addon">{{ currentSesion.nameSesion }}</h1>
    <div class="media">
      <img
        class="media__image"
        *ngIf="!isVideo"
        [src]="currentSesion.sesionCover"
        alt=""
      />
      <app-videoplayer
        *ngIf="isVideo"
        [thumbnail]="currentSesion.sesionCover"
        [src]="currentSesion.video.url"
      ></app-videoplayer>
    </div>
  </nz-card>
  <nz-space class="information">
    <nz-card style="background: #ffffff" class="box">
      <div class="item">
        <th>Inicio</th>
        <td>{{ currentSesion.startSesion | date: "medium" }}</td>
      </div>
      <div class="item right">
        <button nz-button nzType="primary" (click)="registerSesion()">
          Ingresar
        </button>
      </div>
    </nz-card>
  </nz-space>
  <!-- content -->
  <!-- content -->
  <nz-card class="description">
    <h3 class="title">Descripción</h3>
    <div class="cotent_text" *viewMore="{ sizeCLose: 100, sizeShow: 200 }">
      <p class="paragraph">
        {{ currentSesion.description }}
      </p>
    </div>

    <!-- comments -->
    <ng-container *ngIf="currentSesion.includeComments">
      <app-comments
        class="my-4"
        [idBootrapComment]="currentSesion.id_comment"
      ></app-comments>
    </ng-container>
  </nz-card>
</article>
