@import "src/sass/utils";
.contain {
  width: 100%;
  height: 80vh;
}
// alter upload ng angular
:host ::ng-deep .event-uploader > .ant-upload {
  width: 100%;
  overflow: hidden;
  background-color: white;
  min-height: 320px;
  border: none;
  @extend .shadow_box;
}
:host ::ng-deep .event-uploader {
  display: flex;
}
.upload_placeholder {
  display: flex;
  //  justify-content:;
  flex-direction: column;
  i {
    font-size: 50px;
    padding: 1rem;
  }
}
