<!--  upload -->
<ng-template #uploadTemplate>
  <nz-upload
    class="event-uploader"
    [nzCustomRequest]="actionServer"
    nzName="avatar"
    nzListType="picture-card"
    [nzShowUploadList]="false"
  >
    <ng-container *ngIf="!previewImage">
      <div class="upload_placeholder">
        <i class="fas fa-upload"></i>
        <span>Imagén del evento</span>
      </div>
    </ng-container>
    <img
      *ngIf="previewImage"
      class="img_reponsive"
      [src]="previewImage"
      style="width: 100%"
    />
  </nz-upload>
</ng-template>

<!-- event details -->

<ng-template #eventDetailsTemplate>
  <h1 class="title line_addon">Detalles del evento</h1>
  <form [formGroup]="eventForm">
    <nz-form-item>
      <nz-form-control class="control_form_le">
        <nz-form-label>Titulo </nz-form-label>
        <input
          type="text"
          formControlName="title"
          nz-input
          placeholder="Titulo del evento"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item fxLayout="row" fxLayoutGap="10px">
      <nz-form-control fxFlex="45%" class="">
        <nz-form-label class="subtitle" style="font-style: italic"
          >Fecha</nz-form-label
        >
        <nz-date-picker
          formControlName="startEvent"
          class="w-100"
        ></nz-date-picker>
      </nz-form-control>

      <!-- <nz-form-control fxFlex="45%" class="">
        <nz-form-label class="subtitle" style="font-style: italic"
          >Hora</nz-form-label
        >
        <nz-time-picker
          formControlName="timeStart"
          class="w-100"
        ></nz-time-picker>
      </nz-form-control> -->
    </nz-form-item>

    <nz-form-item>
      <nz-form-control class="control_form_le">
        <nz-form-label class="">Descripción</nz-form-label>
        <textarea
          style="width: 100%"
          nz-input
          formControlName="description"
          [nzAutosize]="{ minRows: 5, maxRows: 5 }"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>

<!-- config event -->

<ng-template #configEventTemplate>
  <h1 class="title line_addon">Configuración del evento</h1>
  <nz-card>
    <!-- configura si los eventos pueden ser mostrados -->
    <div class="my-3" fxLayout="row" fxLayoutGap="50px">
      <span fxFlex="calc(100% - 80px)"> Incluir comentarios </span>
      <nz-switch
        [formControl]="configForm.get('includeComment')"
        fxFlex="80px"
        fxFlexAlign="end"
      ></nz-switch>
    </div>
    <!-- controla si el evento se programa o no -->
    <div class="my-3" fxLayout="row" fxLayoutGap="50px">
      <nz-checkbox-group
        [(ngModel)]="optionsPublished"
        (ngModelChange)="publishedChangue(optionsPublished)"
      >
      </nz-checkbox-group>
    </div>

    <!-- programa cuandoe esta visible el evento -->
    <ng-container *ngIf="programEvent && programEvent == 2">
      <div fxLayout="column">
        <span class="subtitle"> fecha </span>
        <nz-date-picker [formControl]="configForm.get('programDate')">
        </nz-date-picker>
      </div>

      <div fxLayout="column">
        <span class="subtitle"> Hora </span>
        <nz-time-picker
          [formControl]="configForm.get('programTime')"
        ></nz-time-picker>
      </div>
    </ng-container>

    <!-- boton para preparar sesiones -->
    <button
      nz-button
      class="my-4 button_le"
      (click)="actionEvent()"
      nzType="primary"
    >
      {{ editMode ? "actualizar evento" : "guardar evento" }}
    </button>

    <button
      nz-button
      *ngIf="editMode"
      class="my-3 button_le my-2"
      (click)="navigateSesions()"
      nzType="primary"
    >
      ver sesiones
    </button>
  </nz-card>
</ng-template>

<!-- layout -->
<div
  class="contain"
  gdAreas="upload upload upload  | form form config | form form config "
  gdColumn="3"
  gdRow="3"
  gdGap="20px"
>
  <!-- upload -->
  <div gdArea="upload">
    <ng-container *ngTemplateOutlet="uploadTemplate"></ng-container>
  </div>
  <div gdArea="form">
    <ng-container *ngTemplateOutlet="eventDetailsTemplate"></ng-container>
  </div>
  <div gdArea="config">
    <ng-container *ngTemplateOutlet="configEventTemplate"></ng-container>
  </div>
</div>
