@import "src/sass/mixins.scss";
@import "src/sass/variables.scss";
:host {
  display: block;
}

@mixin chat-card-avatar {
  .chat_card_avatar {
    overflow: visible;
    margin: $chat-card-avatar-margin;
    position: relative;
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.5);
    @include createCircle($width-avatar);
    @include centerContent();
    cursor: pointer;
    &.active {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        @include createCircle(15px);
        bottom: 3px;
        right: 0px;
        border: 2px solid $white-color;
        background-color: $base-color-chat;
      }
    }
    img {
      width: 100%;
      position: absolute;
      object-fit: cover;
      @include createCircle($width-avatar - 12px);
    }
    &_user {
      position: absolute;
      bottom: -25px;
      @extend %text-mute;
    }
    &_badge {
      position: absolute;
      @include createCircle(22px);
      @include centerContent();
      color: white;
      background-color: $base-color-chat;
      top: -7px;
      right: -7px;
      z-index: 5;
      border: 2px solid $white-color;
      &_text {
        font-size: 0.8rem;
      }
    }

    @include hover;
  }
}

@mixin list-chat {
  .list_chats {
    // @include hover;
    margin: 10px 0;
    &_item {
      display: grid;
      grid-template-columns: 25% 63% 10%;
      grid-template-rows: 1;
      padding: 0 !important;
      * {
        margin: 0;
        padding: 0;
      }
      margin: $margin-item-chat;
      padding: 10px 0 !important;
      place-content: end start;
      @include hover-with-color($secondary-color) {
        border-radius: 10px;
      }
      .chat_card_avatar {
        @include anulate-hover;
        justify-self: center;
        &_badge_text {
          font-size: 0.7rem;
        }
      }
      &_text {
        margin-top: 10px;
        justify-self: center;
        h3 {
          font-size: 0.85rem;
          margin: 0;
          padding: 0;
        }
        p {
          font-size: 0.75rem;
        }
      }
      &_actions {
        justify-self: end;
        span {
          @extend %text-mute;
        }
      }
    }
  }
}

@mixin search-component {
  .chat-card-search {
    mat-form-field.mat-form-field {
      width: 100%;
      mat-icon {
        color: $color-search;
      }
    }
  }
}

@mixin list-avatars {
  .list_avatars {
    margin-top: 0.5rem;
    width: 85%;
  }
}
@mixin subtitle {
  .subtitle {
    opacity: 1;
    font-style: italic;
  }
}

.chat-card {
  width: 380px;
  height: 600px;
  font-size: $base-size-font;
  border-radius: 25px;
  background-color: $chat-color-container;
  padding: $padding-container-chat;

  @include subtitle();
  @include list-avatars();
  @include search-component();
  @include chat-card-avatar();
  @include list-chat();
}
