:root {
  background: red;
}

.tabset {
  //   border: 2px solid black;
  width: 100%;
}
@import "src/sass/utils";

// alter upload ng angular
:host ::ng-deep .event-uploader > .ant-upload {
  width: 100%;
  overflow: hidden;
  background-color: white;
  min-height: 320px;
  height: auto;
  border: none;
  @extend .shadow_box;
}

:host ::ng-deep .event-uploader {
  display: flex;
}
