<div
  class="contain"
  fxLayout="column"
  fxLayoutAlign="start space-between"
  fxLayoutGap="20px"
>
  <nz-card class="shadow_box" *ngFor="let itemData of viewEventsData">
    <li
      fxLayout="row"
      fxLayoutGap="10%"
      style="height: 250px"
      fxLayoutAlign="space-evenly stretch"
    >
      <picture fxLayout fxLayoutAlign="center center">
        <img [src]="itemData.eventCover" width="220" alt="" />
      </picture>
      <div>
        <h2>{{ itemData.name }}</h2>
        <table>
          <tr>
            <th>Participantes:</th>
            <td>
              {{ itemData.participants }}
            </td>
          </tr>
          <tr>
            <th>Sesiones</th>
            <td>
              {{ itemData.countSesions }}
            </td>
          </tr>
          <tr>
            <th>Sesiones Restantes</th>
            <td>
              {{ itemData.lessSesions }}
            </td>
          </tr>
          <tr>
            <th>Ultima sesion</th>
            <td>
              {{ itemData.lastSesion | date }}
            </td>
          </tr>
        </table>
      </div>
      <div fxLayout="column" fxLayoutAlign="end center">
        <button
          (click)="redirectEdit(itemData.id)"
          nz-button
          class=""
          nzType="primary"
        >
          editar
        </button>
      </div>
    </li>
  </nz-card>
</div>
